<html>

<head>
    <style type='text/css'>
        body {
            color: black;
            display: table;
            font-family: 'Roboto', sans-serif;
            font-size: 10px;
            text-align: center;
            margin: auto;
        }

        img{
            width: 170px;
            height: 75px;
        }
    </style>
</head>

<body>
    <h1><img src="https://cdn.discordapp.com/attachments/833897513349021706/976507152191606834/Screen_Shot_2022-05-18_at_10.30.15_AM.png" alt="" /></h1>
    <h1>eORIP OFFICE DE {{city}}</h1>
    <h2>CERTIFICADO DE TRANSACCIONES (TIL)</h2>
    <p><strong>Numero de matricula:</strong> {{enrollmentNumber}}</p>
    <h4><strong>Estado del folio: {{status}}</strong></h4>
    {{descriptionALL}}
    <div id="pageHeader">
        <p>eOrip Office</p>
    </div>
    <div id="pageFooter" style="border-top: 1px solid #ddd; padding-top: 5px;">
        <p><strong>Proyecto final:</strong> Jaime Sierra, Fabricio Puche, Daniel Carrillo</p>
        <p><em>Este documento fue creado solo con fines educativos y no representa ni reemplaza a ningun documento oficial.</em></p>
    </div>
</body>

</html>